sudo: required

language: go

go:
  - 1.7

services:
  - docker

script:
  - mkdir -p workspace/logs
  - go build && go install
  - hive --client=ethereumj:master --docker-noshell --smoke=false --test=. --loglevel=10
